<template>
  <div class="loader" v-bind:class="{active: isActive}" />  
</template>

<script>
// Vuex
import { mapGetters } from 'vuex'

export default {
  name: 'loader',
  computed: mapGetters({
    isActive: 'loaderIsActive'
  })
}
</script>

<style lang="scss" scoped>
.loader {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  background: rgba(255, 255, 255, .9);
  z-index: 5;

  &.active {
    cursor: wait;
    opacity: 1;
    transition: opacity 4s;
    pointer-events: auto;
  }
}
</style>
