.detail {
  padding-bottom: 30px;

  &__head {
    position: relative;
    width: 100%;
    display: block;
    height: 340px;
    overflow: hidden;
    margin-bottom: 20px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(transparent, rgba(255, 255, 255, .6) 60%);
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }

  &__image {
    position: absolute;
    right: 0;
    top: 50%;
    height: 340px;
    width: auto;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  &__title {
    position: absolute;
    bottom: 0;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    z-index: 2;
    font-size: 24px;
    line-height: 28px;
  }

  &__body {
    padding: 0 15px;
  }

  &__breadcrumb {
    font-size: 14px;
    margin-bottom: 40px;

    &--home {
      color: #000;
    }

    &--title {
      font-size: 12px;
    }
  }

  &__date,
  &__price,
  &__pages {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    font-size: 15px;
  }

  &__pages {
    margin-bottom: 40px;
  }

  &__creators {
    margin-bottom: 40px;
    padding-left: 10px;
  }

  &__creators-title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  &__bold {
    font-weight: bold;
  }

  &__desc {
    font-size: 15px;
    line-height: 22px;
  }

  @media(min-width: 768px) {
    &__head {
      margin: 0;
    }

    &__image {
      width: 100%;
      height: auto;
    }

    &__title {
      font-size: 30px;
      line-height: 38px;
      padding: 20px 0;
      width: 700px;
      margin: auto;
      left: 0;
      right: 0;
      text-align: left;
    }

    &__body {
      background: rgba(255, 255, 255, .8);
      padding-top: 20px;
    }

    &__container {
      width: 700px;
      display: block;
      margin: auto;
      padding: 5px 20px 20px;
    }
  }

  @media(min-width: 1080px) {
    padding: 0;

    &__head {
      height: 500px;
    }

    &__title {
      font-size: 40px;
      line-height: 48px;
      padding: 40px 0;
    }

    &__breadcrumb {
      &--title {
        font-size: 14px;
      }
    }

    &__date,
    &__price,
    &__pages {
      margin-bottom: 20px;
      font-size: 18px;
    }

    &__pages {
      margin-bottom: 40px;
    }

    &__creators-title {
      font-size: 20px;
      margin-bottom: 16px;
    }

    &__desc {
      font-size: 16px;
      line-height: 28px;
    }
  }
}