<template>
  <div class="detail">
    <div class="detail__head">
      <img class="detail__image" v-lazy="comic.src" />
      <h1 class="detail__title">{{ comic.title }}</h1>
    </div>
    <div class="detail__body">
      <div class="detail__container">
        <div class="detail__breadcrumb">
          <router-link
            class="detail__breadcrumb--home"
            to="/"
          >Home</router-link>
          <span class="detail__breadcrumb--title">- {{ comic.title }}</span>
        </div>
        <span class="detail__date">Created: <span class="detail__bold">{{ comic.date | date }}</span></span>
        <span class="detail__price">Price: <span class="detail__bold">{{ comic.price | formatPrice }}</span></span>
        <span class="detail__pages">Pages: <span class="detail__bold">{{ comic.pages }}</span></span>
        <h4 class="detail__creators-title">Creators:</h4>
        <ul class="detail__creators">
          <creator
            v-for="(creator, key) in creators"
            :key="key"
            :data="creator" />
        </ul>
        <p class="detail__desc">{{ comic.desc }}</p>
      </div>
    </div>
  </div>
</template>

<script src="./index.js"></script>

<style src="./index.css" lang="scss" scoped></style>
