.creator {
  list-style: none;
  margin-top: 10px;
  position: relative;
  display: block;
  width: 100%;

  &__image {
    border-radius: 50%;
    width: 34px;
    height: 34px;
  }

  &__name {
    vertical-align: top;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 50px;
    font-size: 16px;
  }

  &:first-child {
    margin-top: 0;
  }

  @media(min-width: 1080px) {
    &__image {
      height: 44px;
      width: 44px;
    }

    &__name {
      left: 65px;
      font-size: 18px;
    }
  }
}