<template>
  <li class="creator">
    <img class="creator__image" v-lazy="data.src" />
    <span class="creator__name">{{ data.name }}</span>
  </li>  
</template>

<script src="./index.js"></script>

<style src="./index.css" lang="scss" scoped></style>
