.card {
  margin-top: 30px;
  background: #fff;
  list-style: none;
  vertical-align: top;

  &__head {
    position: relative;
    width: 100%;
    display: block;
    height: 200px;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(transparent, rgba(255, 255, 255, .8) 50%);
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }

  &__image {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  &__title {
    position: absolute;
    bottom: 0;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    z-index: 2;
    font-size: 18px;
    line-height: 24px;
  }

  &__date {
    font-size: 12px;
    margin-bottom: 7px;
    display: block;
    width: 100%;
  }

  &__body {
    padding: 10px 20px;
  }

  &__desc {
    font-size: 14px;
    line-height: 18px;
  }

  &:first-child {
    margin-top: 0;
  }

  @media(min-width: 768px) {
    width: calc(100% / 2 - 20px);
    display: inline-block;
    margin: 0 10px 40px;
    box-shadow: 0 0px 19px 1px #fff;
    min-height: 375px;
  }

  @media(min-width: 1080px) {
    width: calc(100% / 4 - 20px);
    cursor: pointer;

    &__body {
      padding: 14px 20px;
    }

    &__image {
      height: 200px;
      width: auto;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
