<template>
  <li
    class="card"
    @click="handleClick(data.id)"
  >
    <div class="card__head">
      <img class="card__image" v-lazy="data.src" />
      <h3 class="card__title">{{ data.title }}</h3>
    </div>
    <div class="card__body">
      <span class="card__date">{{ data.date | date }}</span>
      <p class="card__desc">{{ data.desc | ellipsis }}</p>
    </div>
  </li>  
</template>

<script src="./index.js"></script>

<style src="./index.css" lang="scss" scoped></style>
