<template>
  <div class="app" id="app">
    <Loader />
    <router-view></router-view>
  </div>
</template>

<script>
import VueRouter from 'vue-router'
import Loader from '../components/Loader/Index.vue'

export default {
  name: 'app',
  components: {
    VueRouter,
    Loader
  }
}
</script>

<style src="./index.css" lang="scss"></style>
