* {
  padding: 0;
  margin: 0;
}

body {
  @media(min-width: 768px) {
    background-image: url(images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.app {
  width: 100%;
  display: block;
}