<template>
  <div class="home">
    <h1 class="home__title">Iron Man</h1>
    <h2 class="home__sub-title">Comics</h2>
    <p
      class="home__empty"
      v-show="showEmptyResult"
    >No comics found</p>
    <ol
      class="home__comics"
      ref="comics"
    >
      <card
        v-for="comic in comics"
        :key="comic.id"
        :data="comic"
        :handleClick="handleClick" />
    </ol>
    <span
      class="home__load"
      v-show="isLoadMoreBlocked"
    >Loading...</span>
  </div>
</template>

<script src="./index.js"></script>

<style src="./index.css" lang="scss" scoped></style>
