.home {
  padding-top: 10px;
  display: block;

  &__title {
    font-size: 34px;
    display: block;
    text-align: center;
    margin-bottom: 7px;
    width: 100%;
  }

  &__sub-title {
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
  }

  &__empty {
    font-size: 16px;
    display: block;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 700;
  }

  &__comics {
    margin-bottom: 30px;
  }

  &__load {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;
  }

  @media(min-width: 768px) {
    width: 90%;
    display: block;
    margin: auto;
  }

  @media(min-width: 1080px) {
    width: 1190px;
    padding: 20px 0 0;

    &__title {
      color: #fff;
      font-size: 60px;
    }

    &__sub-title {
      color: #fff;
      font-size: 30px;
      margin-bottom: 50px;
    }

    &__empty {
      font-size: 24px;
      color: #fff;
    }

    &__comics {
      margin-bottom: 10px;
    }

    &__load {
      font-size: 18px;
      font-weight: 700;
      color: #fff;
      margin-bottom: 40px;
    }
  }
}
